.color-default{
  background-color:#360ca1!important;
  border-color:#360ca1!important;
}

input, textarea, select {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: none!important;
  background-color: #f9f9f9!important;
  border-radius: 0px!important;
}

.form-control:focus {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}